<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <% if (alertMessages.length) { %>
        <% for (let alertMessage of alertMessages) { %>
            <div class="alert alert-danger alert-dismissible fade show mt-0 mb-0" role="alert">
                <%= alertMessage %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>    
    <% } %>
    <div class="container w-75">
        <form class="py-4" action="<% if (!editMode) { %>/admin/create-event<% } else { %>/admin/edit-event/event._id<% } %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="row g-4 py-2">
                <div class="col-md-6">
                    <label for="eventTitle" class="form-label">Event Title</label>
                    <input type="text" class="form-control" name="title" id="eventTitle" placeholder="Event Title" value="<% if (editMode) { %><%= event.title %><% } else { %><%= userInput.title %><% } %>" required>
                </div>
                <div class="col-md-6">
                    <label for="eventOrganizer" class="form-label">Organizer Name</label>
                    <input type="text" class="form-control" name="organizer" id="eventOrganizer" value="<% if (editMode) { %><%= event.organizer %><% } else { %><%= firstName %><% } %>" required>
                </div>
            </div>
            <div class="row g-4 py-2">
                <div class="col-md-6">
                    <label for="eventLocation" class="form-label">Location</label>
                    <input type="text" class="form-control" name="location" id="eventLocation" placeholder="Specify where the event takes place." value="<% if (editMode) { %><%= event.location %><% } else { %><%= userInput.location %><% } %>" required>
                </div>
                <div class="col-md-6">
                    <label for="eventFormat" class="form-label">Event Format</label>
                    <select class="form-select" name="eventFormat" id="eventFormat" required>
                        <% if (editMode) { %>
                            <option selected value='<% if (event.eventFormat === "In Person" ) { %>inPerson<% } else if (event.eventFormat === "Online") { %>online<% } else { %>toBeDetermined<% } %>'><%= event.eventFormat %></option>
                        <% } else if (userInput.eventFormat) { %>
                            <option selected value='<% if (userInput.eventFormat === "In Person" ) { %>inPerson<% } else if (userInput.eventFormat === "Online") { %>online<% } else { %>toBeDetermined<% } %>'><%= userInput.eventFormat %></option>
                        <% } else { %>
                            <option selected disabled value="">Choose Event Format</option>
                        <% } %>
                        <option value="inPerson">In Person</option>
                        <option value="online">Online</option>
                        <option value="toBeDetermined">To be determined</option>
                    </select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="eventStartDate" class="mb-2">Start Date</label>
                    <input type="date" class="form-control" name="eventStartDate" id="eventStartDate" value="<% if (editMode) { %><%= event.eventStartDate %><% } else if (userInput.eventStartDate) { %><%= userInput.eventStartDate %><% } %>" required>
                </div>
                <div class="col-md-6">
                    <label for="eventStartTime" class="form-label">Start Time</label>
                    <input type="time" class="form-control" name="startTime" id="eventStartTime" value="<% if (editMode) { %><%= event.startTime %><% } else if (userInput.startTime) { %><%= userInput.startTime %><% } %>" required>
                </div>
            </div>
            <div class="row g-4 py-2">
                <div class="col-md-6">
                    <label for="eventEndDate" class="mb-2">End Date</label>
                    <input type="date" class="form-control" name="eventEndDate" id="eventEndDate" value="<% if (editMode) { %><%= event.eventEndDate %><% } else if (userInput.eventEndDate) { %><%= userInput.eventEndDate %><% } %>" required>
                </div>
                <div class="col-md-6">
                    <label for="eventEndTime" class="form-label">End Time</label>
                    <input type="time" class="form-control" name="endTime" id="eventEndTime" value="<% if (editMode) { %><%= event.endTime %><% } else if (userInput.endTime) { %><%= userInput.endTime %><% } %>" required>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="eventPrice" class="form-label">Event Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" min="0" step="0.01" class="form-control" name="price" id="eventPrice" value="<% if (editMode) { %><%= event.price %><% } else if (userInput.price) { %><%= userInput.price %><% } %>" required>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-12">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="description" rows="5" placeholder="Provide a detailed information about your event."><% if (editMode) { %><%= event.description %><% } else if (userInput.description) { %><%= userInput.description %><% } %></textarea>
                </div>
            </div>
            <% if (editMode) { %>
                <input type="hidden" value="<%= event._id %>" name="eventId">
            <% } %>
            <div class="col-12 py-2">
                <button class="btn btn-primary" type="submit"><% if (editMode) { %>Edit Event<% } else { %>Create Event<% } %></button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>